.signin-container{
    height: calc(100vh - 10vh);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../../../public/auth-img/bg2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.back{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.link{
    font-weight: bold;
}
